body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
}

h1 {
    background-image: url('convo.jpg');
    padding: 20px;
    text-align: left;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    justify-content: center;
    gap: 100px;
    
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: #007bff;
    text-decoration: underline;
}
.review-form {
    padding: 20px;
    text-align: center;
}

.review-form form {
    background-color: white;
    width: 700px;
    margin: 15px auto;
    padding: 15px;
    
}

.review-form label {
    display: flex;
    justify-content: center;
    display: block;
    margin: 5px;
}

.review-form input[type="text"],
.review-form select,
.review-form textarea {
    width: calc(100% - 16px); /* Subtract padding from width */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Include padding and border in width */
}

.review-form textarea {
    resize: vertical;
}

.submit-button {
    background-color: blue;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.reviews {
    padding: 20px;
    text-align: center;
}

.review-box {
    background-color: white;
    width: 700px;
    margin: 15px auto;
    padding: 15px;
    border: 1px solid #ccc;
}
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}